*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.box img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}
#title{
    font-size: 1.4rem;
    margin: 10px;
}
.box{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 270px;
    margin: auto;
    background-color: rgb(186, 210, 235);
    box-shadow: 10px 10px 14px 10px rgba(0, 0, 0, 0.3);
}
.controls{
    display:flex;
    width: 100%;
    align-items:stretch;
    justify-content: space-around;
}
.controls i{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ani{
    animation: fall 1s linear infinite;
}
@keyframes fall {
    to{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }
}